*{
    box-sizing: border-box;
    background: #F5F5F5;
}
body{
    margin: auto;
    padding: 120px 96px;
    font-family: 'Raleway', sans-serif;
}
.title{
    color: #000;
font-family: Raleway;
font-size: 80px;
font-style: normal;
font-weight: 700;
line-height: 96px;
letter-spacing: -0.8px;
margin: 0px 0px 96px 0px;
}
h2{
    color: #000;
font-family: Raleway;
font-size: 56px;
font-style: normal;
font-weight: 600;
line-height: 64px;
letter-spacing: -0.56px;
}
.container{
    color: #000;
font-family: Raleway;
font-size: 32px;
font-style: normal;
font-weight: 400;
line-height: 40px;
letter-spacing: -0.32px;
}
.container1{
    color: #000;
font-family: Raleway;
font-size: 32px;
font-style: normal;
font-weight: 400;
line-height: 40px;
letter-spacing: -0.32px;
}
h2{
    margin: 64px 0px 0px 0px;
}
p{
    margin: 24px 0px;
}
.container-image{
    /* background: url(<path-to-image>), lightgray 50% / cover no-repeat; */
    width: 277px;
    height: 247px;
    margin: 0px 0px 64px 0px;
}
iframe{
    background: #D9D9D9;
    color: #D9D9D9;
}