body {
    color: brown;
}
h1{
    background-color: bisque;
}
#name{
    text-align: center;
}
#special-text{
    color: blue;
    background-color: aqua;
    text-align: right;
}
b{
    color: black;
}
div i{
color: black;
}
.main_link{
    text-decoration: overline;
}
.main_link:hover{
    color: rgb(226, 43, 43);
    text-decoration-color: rgb(51, 51, 2);
    cursor: pointer;
}
.main_link:active{
    text-decoration: line-through;
}
input:focus{
    color: yellowgreen;
}
#table :first-child{
background-color: rgb(255, 210, 196);
}
li:last-of-type{
    color: rgb(255, 157, 0);
}
p::first-letter{
    background-color: rgb(224, 211, 237);
    letter-spacing: 30px;
}
:not(br){
    background-color: rgb(235, 227, 227);
}
p~ul{
    background-color: rgb(92, 90, 90);
}