*{
    box-sizing: border-box;
    max-width: 100%;
    max-height: 1117px;
    margin: 0;
}
body{
    padding-left: 80px;
    padding-bottom: 49px;
}
.h1, h2, h3, h4{
    margin-top: 0;
}
/* header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}
.left{
    display: flex;
    justify-content: flex-start;
}
.left_img {
    max-width: 150px;
    top: 70px;
    left: 80px;
    float: left;
    margin-top: 70px;
    margin-left: 80px;
}
.left_text{
     font-family: Kyiv*Type Titling;
     font-style: normal;
     font-weight: 500;
     margin-top: 10px;
     color: #C8C8C8;
     font-size: 24px;
     width: 213px;
     height: 44px;
    }
.left_text::before {
     content: "";
     border: 1px solid #FFF;
     margin-right: 26px;
     margin-left: 16px;
    }
.right {
    display: flex;
    align-items: center;
}

.right i {
    margin-right: 20px;
    font-size: 1.5em;
    color: #FFF;
}

.right img {
    width: 74px;
    height: 74px;
    flex-shrink: 0;
    border-radius: 74px;
    top: 42px;
    right: 33px;
}
.content {
    display: flex;
    flex-direction: column;
    align-items: right;
    padding: 20px;
    border-radius: 10px;
}
.text_block{
    width: 100%;
    max-width: 564px;
height: 112px;
flex-shrink: 0;
}
.flex {
    width: 100%;
    max-width: 564px;
height: 112px;
flex-shrink: 0;
color: #FFF;
font-family: Inter;
font-size: 32px;
font-style: normal;
font-weight: 500;
line-height: normal;
display: flex;
align-items: center;
}
.border_flex::before {
    content: "";
    display: inline-block;
    border: 1px solid #FFF;
    height: 24px;
    width: 2px;
    background: white;
    margin-right: 20px;   
}
.item {
    flex: 1;
    padding: 10px;
    margin: 0 10px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
}

.container1 h4{
    width: 580px;
height: 94px;
/* flex-shrink: 0; */
color: #FFF;
font-family: Inter;
font-size: 64px;
font-style: normal;
font-weight: 800;
line-height: normal;
letter-spacing: 3.52px;
margin-bottom: 17px;
}
.container-text{
display: flex;
flex-direction: row;
justify-content: space-between;
width: 847px;
color: #FFF;
font-family: Inter;
font-size: 30px;
font-style: normal;
font-weight: 500;
line-height: normal;
gap: 17px;
}
.container_text::before {
    content: "";
    border: 1px solid #FFF;
    margin-right: 10px;
}
.text {
    width: 864px;
    height: 130px;
    flex-shrink: 0;
    color: #A7A6A6;
    font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 141.523%;
margin-top: 8px;
padding-top: 8px;
}
.container_text_grey{
    color: #A7A6A6;
font-family: Inter;
font-size: 29px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
h1 i {
    color: rgb(255, 183, 0);
    width: 32px;
    height: 32px;
    flex-shrink: 0;
}
.fa-regular{
    color: rgba(255, 255, 255, 0.800);
}
.container2{
    left: 80px;
    top: 682px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-block:54px;
    color: #FFF;
font-family: Inter;
font-size: 22px;
font-style: normal;
font-weight: 500;
line-height: 141.523%;;
padding-top: 55px;
    padding-bottom: 53px;
}
.stream-now-btn{
    justify-content: center;
    display: flex;
    align-items: center;
    width: 272px;
    height: 64px;
    text-decoration: none;
    flex-shrink: 0;
    border-radius: 10px;
    background: #D40D1F;
    text-align: center;
    color: #f4eeee;
    padding: 16px 32px 16px 34px;
    margin-right: 50px;
}
.watch-all-btn{
    display: flex;
    width: 271px;
    height: 64px;
    align-items: center;
    text-decoration: none;
    flex-shrink: 0;
    border-radius: 10px;
    border: 3px solid #FFF;
    text-align: center;
    color: #f4eeee;
    padding: 16px 29px 16px 58px;
}

.stream-now-icon i {
    color: #FFF;
    margin-left: 5px;   
}
h5{
    color: #FFF;
font-family: Inter;
font-size: 22px;
font-style: normal;
font-weight: 800;
line-height: 144.523%;
letter-spacing: 2.97px;
}
.popular_block{
    color: #FFF;
    font-family: Inter;
    font-size: 22px;
    font-style: normal;
    font-weight: 800;
    line-height: 144.523%;
    letter-spacing: 2.97px;
    /* gap: 32px; */
}
.popular_bloc {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    width: 900px;
}
.popular_bloc_button_icon{
    border: 2px solid rgba(255, 255, 255, 0.7);
    border-radius: 50%;
    opacity: .7;
}
.rotated_btn {
    transform: rotate(180deg); 
}
.popular_bloc_button_icon:hover {
    border: 2px solid rgb(255, 255, 255);
    opacity: 1;
}
.movies{
width: 151px;
height: 210px;
flex-shrink: 0;
border: 1px solid #FFF;
left: 80px;
bottom: 49px;
padding-top: 32px;
}
.conteiner-movies{
    width: 900px;
}
ul {
    list-style: none;
    display: flex;
    flex-grow: 1;
    justify-content: flex-start;
    gap: 40px;
    margin-top: 20px;
    padding: 1px;
   /* padding-bottom: 49px; */
}

ul img {
    max-width: 100%;
    border-radius: 0px;
}
p {
    width: 342px;
height: 26px;
flex-shrink: 0;
color: #FFF;
font-family: Inter;
font-size: 22px;
font-style: normal;
font-weight: 800;
line-height: 144.523%; /* 31.795px */
letter-spacing: 2.97px;
    margin: 0;
}
.fixed{
    background: rgba(255, 255, 255, 0.49);
    width: 174px;
    height: 66px;
    padding: 0;
    color: white;
    position: fixed;
    bottom: 103px;
    right: 0; 
}
.fixed1{
    background: #D40D1F;
    width: 33px;
    height: 66px;
    flex-shrink: 0;
    color: #D40D1F;
    position: fixed;
    bottom: 103px;
    right: 141px; 
}
.years{
    width: 82px;
    height: 37px;
    flex-shrink: 0;
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 141.523%;
    margin: 15px 43px 14px 59px;
}
.years1{  
z-index: 10;
color: #D40D1F
}
i{
    color: rgb(255, 183, 0);
}