/*paragraf style*/
/* p{
    background-color: beige;
    color: blueviolet;
} */
body p.bg-dark{
    background-color: orange;
}
p{
    color: pink;
}
#test{
    color: blue;
}
.style-text{
    color: red;
}
p.bg-dark{
    background-color: bisque;
}
.style-text.bg-dark{
    font-size: 30px;
}
*{
    text-decoration: underline;
}
ul{
    background-color: black;
}
ul li{
    color: white;
}
/*.first{
    background-color: papayawhip;
}
.third{
    background-color: burlywood;
}*/
ul li:first-child{
    background-color: aquamarine;
}
ul li:last-child{
    background-color: blue;
}
ul li:nth-child(2){
    background-color: yellowgreen;
}