*{
    box-sizing: border-box;
}
body{
    background-color: rgb(196, 191, 191);
    font-family: 'Inter', sans-serif;
}
.fixed{
    background: rgba(255, 255, 255, 0.49);
    width: 174px;
    height: 66px;
    padding: 0;
    color: white;
    position: fixed;
    bottom: 103px;
    right: 0; 
}
.years{
    width: 82px;
    height: 37px;
    flex-shrink: 0;
    color: #FFF;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: 141.523%;
margin: 15px 43px 14px 59px;
}
.fixed1{
    background: #D40D1F;
    width: 33px;
height: 66px;
flex-shrink: 0;
color: #D40D1F;
    position: fixed;
    bottom: 103px;
    right: 141px; 
}
.years1{
   
z-index: 10;
}
i{
    color: rgb(255, 183, 0);
}
