*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}
body{

}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}
.left{
    display: flex;
    justify-content: flex-start;
}
.left_img {
    max-width: 150px;
    top: 70px;
    left: 80px;
    float: left;
    margin-top: 70px;
    margin-left: 80px;
}
.left_text{
     font-family: Kyiv*Type Titling;
     font-style: normal;
     font-weight: 500;
     margin-top: 10px;
     color: #C8C8C8;
     font-size: 24px;
     width: 213px;
     height: 44px;
    }
.left_text::before {
     content: "";
     border: 1px solid #FFF;
     margin-right: 26px;
    }
.right {
    display: flex;
    align-items: center;
}
.right i {
    margin-right: 20px;
    font-size: 1.5em;
    color: #FFF;
}
.right img {
    width: 74px;
    height: 74px;
    flex-shrink: 0;
    border-radius: 74px;
    top: 42px;
    right: 33px;
}
.banner{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 0 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner image{
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
object-fit: cover;
}
