*{
    box-sizing: border-box;
}
.body{
    margin: 0 auto;
    font-family:'Poppins';
    width: 100%;
}
.header{
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family:'Poppins';
    background: #FFF;
    padding: 3% 5% 2% 5%;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
    position: relative;
    z-index: 1;
}
.navigation a{
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-family:'Poppins';
    font-weight: 600;
    line-height: normal;
    letter-spacing: 2.8px;
    text-decoration: none;
    margin-right: 95px;
}
.navigation a:last-child{
    margin-right: 0px;
}
.search a:first-child{
    margin-right: 20px;
}
.search a:nth-child(2){
    margin-right: 20px;
}
.search a:last-child{
    margin-right: 0px;
}
.navigation a:hover{
    border-bottom: 4px solid #000;
    padding-bottom: 22px;
}
section{
    display: flex;
    padding-left: 10%;
    padding-bottom: 8%;
    background: #E0ADC5;
}
.description-block{
    width: 50%;
    padding-top: 13%;
}
.title{
    color: #FFF;
    font-size: 150px;
    font-style: normal;
    font-family:'Poppins';
    font-weight: 700;
    line-height: 150px;
    margin-bottom: 8px;
}
.style-text{
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-family:'Poppins';
    font-weight: 500;
    line-height: 24px;
    margin-bottom: 36px;
}
.buttons{
    display: flex;
    flex-direction: row;
    gap: 4%;
    margin-bottom: 64px;
}
.shop-now{
    border-radius: 6px;
    background: #000;
    box-shadow: 0px 9px 14px 0px rgba(0, 0, 0, 0.25);
    padding: 14px 92px;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    text-transform: uppercase;
    border-style: none;
    font-family:'Poppins';
}
.watch-video{
    display: inline-flex;
    width: 190px;
    height: 50px;
    text-align: center;
    font-family:'Poppins';
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    text-transform: uppercase;
    border-style: none;
    gap: 8px;
    background: #E0ADC5;;
    align-items: center;
    justify-content: center;
}
.proposed img{
    min-height: 68px;
    min-width: 53px;
    padding-top: 6px;
    padding-right: 11px;
    padding-bottom: 5px;
    padding-left: 15px;
    display: inline-block;
}
.proposed a:first-child{
    display: inline-block;
    margin-right: 16px;
    border-radius: 7px;
    border: 1px solid #FFF;
}
.proposed a:nth-child(2){
    margin-right: 16px;
    display: inline-block;
    border-radius: 7px;
    border: 1px solid #FFF;
 }
    .proposed a:nth-child(3){
    margin-right: 16px;
    display: inline-block;
    background: #FFF;
    border-radius: 7px;
    border: 1px solid #FFF;
}
    .proposed a:last-child{
    margin-right: 0px;
    display: inline-block;
    border-radius: 7px;
    border: 1px solid #FFF;
}
    .proposed a:hover{
    background: #FFF;
}
    .large-teapot{
    width: 50%;
    padding-top: 8%;
}

    .back-text{
    position: absolute;
    z-index: 1;
    right: 11%;
}
    .img-teapot{
    position: absolute;
    z-index: 2;
}
    .inputs{
    padding-left: 87%;
    margin-top: 43%;
}
    .form{
    display: block;
    position: relative;
    font-size: 22px;
    cursor: pointer;
}
    .form input [type=radio] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
} 
    .checkmark{
    position: absolute;
    top: 7px;
    left: 4px;
    height: 15px;
    width: 15px;
    background-color: #E0ADC5 ;
    border-radius: 50%;
    border: 2px solid #FFF;
  }

    .form:hover input ~ .checkmark {
    background-color: #E0ADC5
}
    .form input:checked ~ .checkmark {
    background-color: #E0ADC5;
}
    .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
    .form input:checked ~ .checkmark:after {
    display: block;
  }
    .form .checkmark:after {
    top: 2px;
    left: 2px;
    right: 2px;
    bottom: 1px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #FFF;
  }
    .burger-menu{
    display: none;
    border: none;
    background-color: transparent;
  }
@media(max-width:768px){
    .large-teapot{
        margin-left: 1%;
        padding-top: 7%;
        margin-right: 5%;
    }
    .img-teapot{
        width: 300px;
        height: 400px;
        position: absolute;
        z-index: 2;
        margin-left: 100px;
    }
    .back-text{
        width: 83px;
        height: 400px;
        position: absolute;
        z-index: 1;
        right: 29%;
    }
    .description-block{
        padding-right: 11%;
        padding-top: 12%;
    }
    .title{
        color: #FFF;
        font-family: Poppins;
        text-align: center;
        font-size: 150px;
        font-style: normal;
        font-weight: 700;
        line-height: 150px;
    }
    .buttons{
        margin-bottom: 20px;
        display: flex;
        flex-direction: row;
        gap: 4%;
        margin-bottom: 64px;
        justify-content: center;
        align-items: center;
    }
    .inputs{
        margin-top:35%;
        margin-top: 446px;
        display: flex;
        flex-direction: row; 
        justify-content: right;
        padding-left: 94%;
    }
    .style-text{
        margin-bottom: 8px;
        color: #FFF;
        font-family: Poppins;
        text-align: center;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
        margin-bottom: 36px;
    }
    .navigation a{
        font-size: 15px;
        letter-spacing: 1px;
        margin-right: 11px;
    }
    .search a:first-child{
        margin-right: 15px;
    }
    .search a:nth-child(2){
        margin-right: 15px;
    }
    .navigation a:hover{
        border-bottom: 3px solid #000;
        padding-bottom: 6%;
    }
    section{
        flex-wrap: wrap;
        padding-bottom: 42px;
        margin: 0 auto;
    }
    .description-block{
        width: 100%;
        padding-top: 13%;
        margin: 0 auto;
    }
    .proposed img{
        display: none;
    }
    .proposed a:first-child{
        display: none;
    }
    .proposed a:nth-child(2){
        display: none;
    }
     .proposed a:nth-child(3){
        display: none;
    }
     .proposed a:last-child{
        display: none;
    }
}
    @media(max-width:480px){
    .navigation a{
        display: none;
    }
    .burger-menu{
        display: block;
        /* transform: translate(-150px); */
        order: 0;
    }
    .logo{
        display: block;
        justify-content: center;
        /* transform: translate(150px); */
        order: 1;
    }
    .header{
        display: flex;  
    }
    .search{
        order: 2;
    }
    .search a:first-child{
        justify-self: flex-start;
        
    }
    .search a:nth-child(2){
        margin-right: 20px;
    }
     .search a:last-child{
        margin-right: 0px;
    }
    .description-block{
        padding-top: 13%;
    }
    section{
        margin: 0 auto;

    }
    .title{
       color: #FFF;
       font-family: Poppins;
       font-size: 60px;
       text-align: center;
       font-style: normal;
       font-weight: 700;
       line-height: 60px;
    }
    .style-text{
        color: #FFF;
        text-align: center;
        font-family: Poppins;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: 16px;
    }
    .buttons{
        display: flex;
        flex-direction: row;
        gap: 4%;
    }
    .shop-now{
        font-size: 12px;
        line-height: 16px;
        text-transform: uppercase;
        display: inline-flex;
        padding: 12px 50px;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
    .text-button{
        display: none;
    }
    .large-teapot{
        width: 100%;
        display: flex;
        margin: 0 auto;
    }
    .back-text{
        right: 7%;
        width: 221px;
        height: 281px;
      }
    .img-teapot{
        margin-left: 67px;
        width: 217px;
        height: 300px;
    }
    .inputs{
        padding-left: 34% ;
        margin-top: 329px;
    }
}